---
title: "Пентикоста́рїонъ"
subtitle: "сі́есть пѧтьдесѧ́тница<br>съ бг҃мъ ст҃ы́мъ, ѡ҆бдержа́й подоба́ющее є҆мꙋ̀ послѣ́дованїе."
layout: work.njk
tocDividers:
  - "1"
  - "6"
  - "7"
  - "9"
  - "11"
  - "13"
  - "15"
  - "17"
  - "21"
  - "23"
  - "24"
navigation:
  key: service-pentecostarion
  title: "Трїѡ́дь цвѣтна́ѧ"
  parent: service
---

{% set unsortedParts = [] %}
{% for part in collections.serviceParts %}
  {% if part.inputPath.includes('/service/pentecostarion/') %}
    {% set unsortedParts = (unsortedParts.push(part), unsortedParts) %}
  {% endif %}
{% endfor %}

<ul class="work-toc">
{% for part in unsortedParts | sortByNumber %}
  <li><a href="{{ part.fileSlug }}/">{{ part.data.title }}</a></li>
  {% if tocDividers and part.fileSlug in tocDividers %}
    <li class="toc-divider" aria-hidden="true"></li>
  {% endif %}
{% endfor %}
</ul>
