{% extends "_base.njk" %}
{% from "_partials/title.njk" import title as renderTitle %}
{% from "_partials/julian-date.njk" import julianDate, julianDateScript %}

{% set bodyClass = bodyClass or "homepage" %}

{% block content %}
{% ornament "library-home", "xlarge" %}
{{ renderTitle(title) }}

{{ julianDate(show=showJulianDate, full=true) }}

<nav class="homepage-nav">
    {{ content | safe }}
</nav>

<div class="homepage-cross">※</div>

{{ julianDateScript(show=showJulianDate) }}
{% endblock %}
