{% extends "_base.njk" %}

{% set bodyClass = "homepage" %}

{% block content %}
{% illustration "bars-headers-fullpage/header-illumination-gould" %}
<h1>{{ title | safe }}</h1>

{% if showJulianDate %}
<div id="julian-date"></div>
<div id="liturgical-week"></div>
<div id="great-feast"></div>
{% endif %}

<nav class="homepage-nav">
    {{ content | safe }}
</nav>

<div class="homepage-cross">※</div>

{% if showJulianDate %}
<script src="/assets/js/julian-date.js"></script>
{% endif %}
{% endblock %}
