{% extends "_base.njk" %}

{% set bodyClass = "work" %}

{% block content %}
{% if illustration %}
  {% illustration illustration, illustrationSize %}
{% endif %}
<h1>
  {% if subtitle %}
    <span class="title-main">{{ title | safe }}</span>
    <span class="title-subtitle">{{ subtitle | safe }}</span>
  {% else %}
    {{ title | safe }}
  {% endif %}
</h1>

<article class="liturgical-text">
    {{ content | safe }}
</article>
{% endblock %}
