# Dependencies
node_modules/

# Build output
_site/
dist/

# OS files
.DS_Store
Thumbs.db
**/.DS_Store

# IDE files
.vscode/
.idea/

# Logs
*.log

# Environment variables
.env

# Temporary files
*.tmp
*.swp

# Documents
*.epub
*.pdf