---
title: "Мл҃твы бцⷣе"
subtitle: "пред̾ і҆кѡ́нами."
layout: work.njk
navigation:
  key: prayers-virginicons
  title: "Мл҃твы бцⷣе пред̾ і҆кѡ́нами"
  parent: prayers
---

{% set unsortedParts = [] %}
{% for part in collections.prayerParts %}
  {% if part.inputPath.includes('/prayers/virginicons/') %}
    {% set unsortedParts = (unsortedParts.push(part), unsortedParts) %}
  {% endif %}
{% endfor %}

<ul class="work-toc">
{% for part in unsortedParts | sortByNumber %}
  <li><a href="{{ part.fileSlug }}/">{{ part.data.title }}</a></li>
{% endfor %}
</ul>
