---
title: "Канѡ́нъ"
subtitle: "ко ст҃о́мꙋ причаще́нїю пречⷭ҇тагѡ тѣ́ла и҆ кро́ве гдⷭ҇а бг҃а и҆ сп҃са на́шегѡ і҆и҃са хрⷭ҇та̀."
layout: work.njk
navigation:
  key: canons-communionsymeon
  title: "Канѡ́нъ ко ст҃о́мꙋ причаще́нїю ст҃а́гѡ сѷмеѡ́на но́вагѡ бг҃осло́ва"
  parent: canons
---

{% set unsortedParts = [] %}
{% for part in collections.canonParts %}
  {% if part.inputPath.includes('/canons/communionsymeon/') %}
    {% set unsortedParts = (unsortedParts.push(part), unsortedParts) %}
  {% endif %}
{% endfor %}

<ul class="work-toc">
{% for part in unsortedParts | sortByNumber %}
  <li><a href="{{ part.fileSlug }}/">{{ part.data.title }}</a></li>
{% endfor %}
</ul>
