---
title: "А҆лфави́тъ дꙋхо́вный"
subtitle: "въ по́лзꙋ и҆́нокѡмъ и҆ мїрски̑мъ, бг҃оꙋго́днѣ жи́ти хотѧ́щимъ, напи́санный."
layout: work.njk
navigation:
  key: various-alphabet
  title: "А҆лфави́тъ дꙋхо́вный"
  parent: various
tocSections:
  "0-001": "Введе́нїе"
  "1-001": "Ча́сть пе́рваѧ"
  "2-001": "Ча́сть втора́ѧ"
  "3-001": "Ча́сть тре́тїѧ"
  "4-001": "Стїхослѡ́вїа"
---

{% set unsortedParts = [] %}
{% for part in collections.variousParts %}
  {% if part.inputPath.includes('/various/alphabet/') %}
    {% set unsortedParts = (unsortedParts.push(part), unsortedParts) %}
  {% endif %}
{% endfor %}

<ul class="work-toc">
{% for part in unsortedParts | sortByNumber %}
  {% if tocSections and part.fileSlug in tocSections %}
    <li class="toc-section">{{ tocSections[part.fileSlug] }}</li>
  {% endif %}
  <li><a href="{{ part.fileSlug }}/">{{ part.data.title }}</a></li>
  {% if tocDividers and part.fileSlug in tocDividers %}
    <li class="toc-divider" aria-hidden="true"></li>
  {% endif %}
{% endfor %}
</ul>
