---
title: "Канѡ́нъ"
subtitle: "въ сре́дꙋ ве́чера."
layout: work.njk
navigation:
  key: canons-evewednesday
  title: "Канѡ́нъ въ сре́дꙋ ве́чера"
  parent: canons
---

{% set unsortedParts = [] %}
{% for part in collections.canonParts %}
  {% if part.inputPath.includes('/canons/evewednesday/') %}
    {% set unsortedParts = (unsortedParts.push(part), unsortedParts) %}
  {% endif %}
{% endfor %}

<ul class="work-toc">
{% for part in unsortedParts | sortByNumber %}
  <li><a href="{{ part.fileSlug }}/">{{ part.data.title }}</a></li>
{% endfor %}
</ul>
