---
title: "Мл҃твы гдⷭ҇ꙋ бг҃ꙋ."
layout: work.njk
navigation:
  key: prayers-god
  title: "Мл҃твы гдⷭ҇ꙋ бг҃ꙋ"
  parent: prayers
---

{% set unsortedParts = [] %}
{% for part in collections.prayerParts %}
  {% if part.inputPath.includes('/prayers/god/') %}
    {% set unsortedParts = (unsortedParts.push(part), unsortedParts) %}
  {% endif %}
{% endfor %}

<ul class="work-toc">
{% for part in unsortedParts | sortByNumber %}
  <li><a href="{{ part.fileSlug }}/">{{ part.data.title }}</a></li>
{% endfor %}
</ul>
