---
title: "Вели́кїй канѡ́нъ,"
subtitle: "четверто́къ."
layout: work.njk
navigation:
  key: canons-great04
  title: "Вели́кїй канѡ́нъ, чт"
  parent: canons
---

{% set unsortedParts = [] %}
{% for part in collections.canonParts %}
  {% if part.inputPath.includes('/canons/great04/') %}
    {% set unsortedParts = (unsortedParts.push(part), unsortedParts) %}
  {% endif %}
{% endfor %}

<ul class="work-toc">
{% for part in unsortedParts | sortByNumber %}
  <li><a href="{{ part.fileSlug }}/">{{ part.data.title }}</a></li>
{% endfor %}
</ul>
