---
title: "Трехканонник"
subtitle: "покаянный."
layout: work.njk
navigation:
  key: canons-repent3
  title: "Трехканонник покаянный"
  parent: canons
---

{% set unsortedParts = [] %}
{% for part in collections.canonParts %}
  {% if part.inputPath.includes('/canons/repent3/') %}
    {% set unsortedParts = (unsortedParts.push(part), unsortedParts) %}
  {% endif %}
{% endfor %}

<ul class="work-toc">
{% for part in unsortedParts | sortByNumber %}
  <li><a href="{{ part.fileSlug }}/">{{ part.data.title }}</a></li>
{% endfor %}
</ul>
