---
title: "А҆лфави́тъ дꙋхо́вный,"
subtitle: "ча́сть г҃."
layout: work.njk
navigation:
  key: various-alphabet3
  title: "А҆лфави́тъ дꙋхо́вный, ча́сть г҃"
  parent: various
---

{% set unsortedParts = [] %}
{% for part in collections.variousParts %}
  {% if part.inputPath.includes('/various/alphabet3/') %}
    {% set unsortedParts = (unsortedParts.push(part), unsortedParts) %}
  {% endif %}
{% endfor %}

<ul class="work-toc">
{% for part in unsortedParts | sortByNumber %}
  <li><a href="{{ part.fileSlug }}/">{{ part.data.title }}</a></li>
{% endfor %}
</ul>
