---
title: "Акафист"
subtitle: "иконе «Живоносный Источник» (первый)."
layout: work.njk
navigation:
  key: akathists-source1
  title: "Акафист иконе «Живоносный Источник» (первый)"
  parent: akathists
---

{% set unsortedParts = [] %}
{% for part in collections.akathistParts %}
  {% if part.inputPath.includes('/akathists/source1/') %}
    {% set unsortedParts = (unsortedParts.push(part), unsortedParts) %}
  {% endif %}
{% endfor %}

<ul class="work-toc">
{% for part in unsortedParts | sortByNumber %}
  <li><a href="{{ part.fileSlug }}/">{{ part.data.title }}</a></li>
{% endfor %}
</ul>
