---
title: "Акафист"
subtitle: "Евфимии Халкидонской."
layout: work.njk
navigation:
  key: akathists-evfimiahalk
  title: "Акафист Евфимии Халкидонской"
  parent: akathists
---

{% set unsortedParts = [] %}
{% for part in collections.akathistParts %}
  {% if part.inputPath.includes('/akathists/evfimiahalk/') %}
    {% set unsortedParts = (unsortedParts.push(part), unsortedParts) %}
  {% endif %}
{% endfor %}

<ul class="work-toc">
{% for part in unsortedParts | sortByNumber %}
  <li><a href="{{ part.fileSlug }}/">{{ part.data.title }}</a></li>
{% endfor %}
</ul>
