---
title: "Акафист"
subtitle: "Адриану Пошехонскому."
layout: work.njk
navigation:
  key: akathists-adrianposheh
  title: "Акафист Адриану Пошехонскому"
  parent: akathists
---

{% set unsortedParts = [] %}
{% for part in collections.akathistParts %}
  {% if part.inputPath.includes('/akathists/adrianposheh/') %}
    {% set unsortedParts = (unsortedParts.push(part), unsortedParts) %}
  {% endif %}
{% endfor %}

<ul class="work-toc">
{% for part in unsortedParts | sortByNumber %}
  <li><a href="{{ part.fileSlug }}/">{{ part.data.title }}</a></li>
{% endfor %}
</ul>
