---
title: '<span class="display">Свѧще́нное е҆ѵа́нгелїе</span>'
layout: work.njk
ornament: headpiece-l2
tocDividers:
  - "3"
  - "8"
  - "14"
  - "19"
  - "24"
navigation:
  key: service-gospel
  title: "Свѧще́нное е҆ѵа́нгелїе"
  parent: service
---

{% set unsortedParts = [] %}
{% for part in collections.serviceParts %}
  {% if part.inputPath.includes('/service/gospel/') %}
    {% set unsortedParts = (unsortedParts.push(part), unsortedParts) %}
  {% endif %}
{% endfor %}

<ul class="work-toc">
{% for part in unsortedParts | sortByNumber %}
  <li><a href="{{ part.fileSlug }}/">{{ part.data.navigation.title or (part.data.title | safe) }}</a></li>
  {% if tocDividers and part.fileSlug in tocDividers %}
    <li class="toc-divider" aria-hidden="true"></li>
  {% endif %}
{% endfor %}
</ul>
