---
title: "Канѡ́нъ"
subtitle: "бл҃года́ренъ прест҃ѣ́й бцⷣѣ."
layout: work.njk
navigation:
  key: canons-gratefulmary
  title: "Канѡ́нъ бл҃года́ренъ прест҃ѣ́й бцⷣѣ"
  parent: canons
---

{% set unsortedParts = [] %}
{% for part in collections.canonParts %}
  {% if part.inputPath.includes('/canons/gratefulmary/') %}
    {% set unsortedParts = (unsortedParts.push(part), unsortedParts) %}
  {% endif %}
{% endfor %}

<ul class="work-toc">
{% for part in unsortedParts | sortByNumber %}
  <li><a href="{{ part.fileSlug }}/">{{ part.data.title }}</a></li>
{% endfor %}
</ul>
